<template>
 <div>
  <div class="container">
   <h5 class="text-primary pt-4">Select Client</h5>
   <p class="text-muted">Select a client to add a billing</p>
   <div class="row g-0 mt-5">
    <div class="card p-5 mb-4">
     <div class="d-flex align-items-center">
       <div class="d-flex flex-column me-auto mt-2">
         <h5 class="text-violet fw-bold">Records</h5>
         <p class="mb-4"><small>Here your client records</small></p>
       </div>
        <div class="d-flex flex-column mt-2">
         <router-link to="/dashboard/appointment" class="btn btn-primary"> Return</router-link>
       </div>
     </div>
     <div class="d-flex justify-content-end mt-2">
       <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-3">
         <div class="input-group mb-3">
           <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
           <button @click.prevent="patientSearch" class="btn btn-primary"><i class="bi bi-search"></i></button>
         </div>
       </div>
     </div>
     <div class="table-responsive mt-4">
      <b-skeleton-table
         v-if="initialLoading && patients == 0"
         :rows="4"
         :columns="6"
         :table-props="{ bordered: false, striped: false }"
       ></b-skeleton-table>
      <table v-if="patients != 0" class="table table-hover">
        <thead>
          <tr>
            <th scope="col" ></th>
            <th scope="col" >Full Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-nowrap">Contact Number</th>
            <th scope="col">Select</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(patient, i) in patients.data" :key="i">
            <avatar v-if="patient != 0" class=" mr-4" :username="patient.info.first_name + ' ' + patient.info.last_name" :rounded="true" :size="40" :color="'#fff'" :lighten="100"></avatar>
            <td >{{patient.info.first_name}} {{patient.info.last_name}}</td>
            <td>{{patient.info.gender}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.info.contact_number}}</td>
            <td class="text-nowrap">
             <a v-on:click.prevent="data.user_id=patient.id; $bvModal.show('addAppointmentModal')" class="btn btn-primary btn-sm me-2" href="">Appointment</a>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
     <div class="row mt-3" v-if="patients.data">
       <pagination :showDisabled="true" :align="'right'" :data="patients" @pagination-change-page="patientSearch">
         <span slot="prev-nav">&laquo;</span>
         <span slot="next-nav">&raquo;</span>
       </pagination>
     </div>
    </div>
   </div>
  </div>

   <!-- Add Appointment Modal --->
  <b-modal id="addAppointmentModal" centered title="Add Appointment">
   <div class="row pe-3 ps-3">
    <div class="col">
     <label for="item">Appointment Name</label>
      <input v-model="data.name" id="item" type="text" class="form-control" placeholder="" aria-label="Item">
     <label for="description">Description</label>
      <input v-model="data.content" id="description" type="text" class="form-control" placeholder="" aria-label="Remarks">
    </div>
   </div>
  <div class="row pe-3 ps-3">
    <label for="remarks">Select Schedule</label>
    <date-picker v-model="data.time" :disabled-date="disabledBeforeToday" range value-type="format" :format="'YYYY-MM-DD hh:mm a'" type="datetime"></date-picker>
  </div>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Delete </b-button>
      <b-button variant="success" size="sm" v-on:click.prevent="saveAppointment">
        Save
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import Avatar from 'vue-avatar'
import { mapState } from 'vuex'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from 'moment'
export default {
  components: {Avatar, DatePicker},
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
  data() {
   return {
    isLoading: false,
    id: '',
    search: '',
    isSearching: false,
    initialLoading: false,
    data:{
      user_id: '',
      name: '',
      time: '',
      content: '',
    },
   
   }
  },
  async mounted(){
   this.initialLoading = true
   document.title = 'Patient Management'
   await this.$store.dispatch('auth/checkAdminUser')
   await this.getAllPatients()
   this.initialLoading = false

  },
  methods: {
   async getAllPatients(page = 1){
     await this.$store.dispatch('patient/getPatients', page)
   },
   async searchPatient(page = 1){
    let data = {
     search: this.search
    }

    this.isSearching = true
    await this.$store.dispatch('patient/searchPatient', {page: page, data: data})
    this.isSearching = false
   },
   async patientSearch(){
    if(this.search == ""){
     this.getAllPatients()
    }
    else {
     this.searchPatient()
    }
   },
   disabledBeforeToday(date){
     let d = new Date()
     d.setDate(d.getDate())
     return date < new Date(d.setHours(0, 0, 0, 0));
   },
   async saveAppointment(){
    if(this.data.name == '') return this.$toast.error('Appointment name is required')
    if(this.data.content == '') return this.$toast.error('Content/Description is required')
    const res = await this.$store.dispatch('appointment/saveAppointment', this.data)
    if(res.status == 200){
     this.$toast.success("Appointment added successfully!")
     this.$router.push('/dashboard/appointment')
    }
   },
   
   
  },
  computed: {
   ...mapState('patient', ['patients'])
  },
  watch: {
   search(before, after){
      this.patientSearch()
    },
  }

}
</script>