<template>
 <div>
  <div class="container">
   <div class="row g-0 mt-4">
    <div class="card p-5 mt-3 mb-3">
     <div class="d-flex align-items-center">
       <div class="d-flex flex-column me-auto mt-2">
         <h5 class="text-violet fw-bold">Appointments</h5>
         <p class="mb-4"><small>Here are your appointments</small></p>
       </div>
     </div>
      <vue-cal active-view="day" :events="appointments" style="height: 450px" :on-event-click="onEventClick"/>
    </div>
   </div>
  </div>

   <!-- SHOW INFO MODAL --->
  <b-modal id="showEventInfoModal" centered title="Event Info">
    <div class="row p-3">
      <div class="col">
        <h6>Name: {{selectedEvent.title}}</h6>
        <h6>Schedule: {{selectedEvent.start | moment}} - {{selectedEvent.end | moment}}</h6>
        <h6>Description: {{selectedEvent.content}}</h6>
      </div>
    </div>
    <template #modal-footer = {cancel} >
      <b-button variant="danger" size="sm" @click="deleteAppointment" :disabled="isLoading"> Delete </b-button>
      <b-button variant="success" size="sm" @click="cancel()" :disabled="isLoading">
        Okay
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { mapState } from 'vuex'
import moment from 'moment'
export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
 components: {
   VueCal
	},
 data() {
  return{
    selectedEvent: {
      user: {
        info: {
          first_name: '',
          last_name: '',
        }
      }
    },
    isLoading: false,
    initialLoading: false,
  }
 },
 async mounted(){
   this.initialLoading = true
   await this.$store.dispatch('auth/checkAuthUser')
   this.getAppointment()
   this.initialLoading = false
 },
 methods: {
   async getAppointment(){
     const res = await this.$store.dispatch('user/getAppointments')
   },
   onEventClick(event, e){
    this.selectedEvent = event
    console.log(this.selectedEvent)
    this.$bvModal.show('showEventInfoModal')
    e.stopPropagation()
   },
  },
  computed: {
    ...mapState('user', ['appointments'])
  }
}
</script>
