<template>
 <div>
  <div class="container">
   <h5 class="text-primary pt-4">Billing Management</h5>
   <p class="text-muted">Here are the list of your billings</p>
   <div class="row g-0 mt-4">
    <div class="card p-5 mb-4">
     <div class="d-flex justify-content-end mt-2">
       <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-3">
         <div class="input-group mb-3">
           <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
           <button @click.prevent="billingSearch" class="btn btn-primary"><i class="bi bi-search"></i></button>
         </div>
       </div>
     </div>
     <div class="table-responsive mt-4">
      <b-skeleton-table
         v-if="initialLoading"
         :rows="4"
         :columns="6"
         :table-props="{ bordered: false, striped: false }"
       ></b-skeleton-table>
      <table v-if="!initialLoading" class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap">Appointment</th>
            <th scope="col" class="text-nowrap">Payment Fee</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Status</th>
            <th scope="col">Remarks</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(billing, i) in billing.data" :key="i" >
            <td>{{billing.name}}</td>
            <td class="text-nowrap">{{formatCurrency(billing.payment_fee)}}</td>
            <td>{{billing.created_at | moment}}</td>
            <td>{{billing.status}}</td>
            <td>{{billing.remarks}}</td>
            <td class="text-nowrap">
             <a v-if="billing.status == 'Unpaid'" v-on:click.prevent="data = JSON.parse(JSON.stringify(billing));" class="btn btn-primary btn-sm me-2" href=""><i class="bi bi-pencil"></i>Pay</a>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
     <div class="row mt-3">
       <pagination :showDisabled="true" :align="'right'" :data="billing" @pagination-change-page="billingSearch">
         <span slot="prev-nav">&laquo;</span>
         <span slot="next-nav">&raquo;</span>
       </pagination>
     </div>
    </div>
   </div>
  </div>
 </div>
</template>
<script>
import { mapState } from 'vuex'
import moment from 'moment'
export default {
filters: {
  moment: function (date) {
    return moment(date).format('MMMM Do YYYY, h:mm a');
  }
},
 data(){
  return {
   initialLoading: false,
   search: '',
   id: '',
   isLoading: false,
   data: {}
  }
 },
 async mounted(){
   this.initialLoading = true
   document.title = 'Billing Management'
   await this.$store.dispatch('auth/checkAuthUser')
   await this.getAllBillings()
   this.initialLoading = false
 },
 methods: {
   formatCurrency(data){
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'PHP',
      });
      return formatter.format(data);
   },
   async getAllBillings(page = 1){
     await this.$store.dispatch('user/getBillings', page)
   },
   async searchBilling(page = 1){
    let data = {
     search: this.search
    }

    this.isSearching = true
    await this.$store.dispatch('user/searchBilling', {page: page, data: data})
    this.isSearching = false
   },
   async billingSearch(){
    if(this.search == ""){
     this.getAllBillings()
    }
    else {
     this.searchBilling()
    }
   },
 },
 computed: {
   ...mapState('user', ['billing'])
 },
 watch: {
   search(before, after){
      this.billingSearch()
    },
  }

}
</script>