<template>
 <div>
  <div class="container">
   <h5 class="text-primary pt-4">Summary</h5>
   <p class="text-muted">Here is your summary</p>
   <div class="row">
     <div class="col-12 col-sm-12 col-md-6 col-lg-10 col-xl-7">
       <div class="row mt-4">
        <vue-cal active-view="day" :events="appointments" style="height: 450px" :disable-views="['years', 'year', 'week']" :on-event-click="onEventClick"/>
       </div>
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
       <div class="row mt-4">
        <div class="col-sm-6 col-md-6 col-lg-10 col-xl-6">
          <div class="card pe-5 ps-5 pb-5 pt-4 br-20 mb-4">
            <div class="d-flex mb-3 flex-column justify-content-center align-items-center">
              <i class="bi bi-receipt me-2 bi-5x"></i>
              <h6 class="mt-2">APPOINTMENTS</h6>
            </div>
            <div class="summary-container">
              <p class="summary-text">
                {{summary.appointment}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card pe-5 ps-5 pb-5 pt-4 br-20 mb-4">
            <div class="d-flex mb-3 flex-column justify-content-center align-items-center">
              <i class="bi bi-cash-coin me-2 bi-5x"></i>
              <h6 class="mt-2">BILLINGS</h6>
            </div>
            <div class="summary-container">
              <p class="summary-text">
                {{summary.billing}}
              </p>
            </div>
          </div>
        </div>
      </div>
     </div>
   </div>
  </div>

   <!-- SHOW INFO MODAL --->
  <b-modal id="showEventInfoModal" centered title="Event Info">
    <div class="row p-3">
      <div class="col">
        <h6>Name: {{selectedEvent.title}}</h6>
        <h6>Schedule: {{selectedEvent.start | moment}} - {{selectedEvent.end | moment}}</h6>
        <h6>Description: {{selectedEvent.content}}</h6>
      </div>
    </div>
    <template #modal-footer = {cancel} >
      <b-button variant="success" size="sm" @click="cancel()" :disabled="isLoading">
        Okay
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { mapState } from 'vuex'
import moment from 'moment'
export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
  components: {
    VueCal
  },
  data(){
   return {
    isLoading: false,
    selectedEvent: {
      user: {
        info: {
          first_name: '',
          last_name: '',
        }
      }
    },
   }
  },
  async mounted(){
   await this.$store.dispatch('auth/checkAuthUser')
   await this.$store.dispatch('user/getSummary')
   this.getAppointment()
  },
  methods: {
   async getAppointment(){
     this.isLoading = true
     const res = await this.$store.dispatch('user/getAppointments')
     this.isLoading = false
   },
   onEventClick(event, e){
    this.selectedEvent = event
    this.$bvModal.show('showEventInfoModal')
    e.stopPropagation()
   },
  },
  computed: {
    ...mapState('user', ['summary']),
    ...mapState('user', ['appointments'])

  }

}
</script>