<template>
  <div>
   <Sidenav />
   <Navbar />
   <div class="content-container">
    <router-view name="home"/>
    <router-view name="patients"/>
    <router-view name="billing"/>
    <router-view name="appointment"/>
    <router-view name="selectUser"/>
    <router-view name="userAppointment"/>
    <router-view name="settings"/>
   </div>
  </div>
</template>
<script>
import Sidenav from './components/Sidebar.vue'
import Navbar from './components/Navbar.vue'
export default { 
  async mounted() {
    document.title = 'Dashboard'
    await this.$store.dispatch('auth/checkAdminUser')
  },
  components: {Sidenav, Navbar}
}
</script>